@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}

body {
    background-color: #99b9ff;
    background-image: radial-gradient(at 34% 3%, hsla(245, 67%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 23% 90%, hsla(64, 60%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 71% 81%, hsla(150, 62%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 4% 81%, hsla(69, 96%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 3% 36%, hsla(61, 65%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 5% 35%, hsla(155, 66%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 53% 23%, hsla(138, 93%, 61%, 1) 0px, transparent 50%);
    min-height: 100vh;
}
.navbar-toggle {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #111;
    color: white;
    font-size: 2rem;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    z-index: 2000;
    cursor: pointer;

}
.navbar {
    z-index: 1000;
    position: fixed;
    left: 0;
    height: 100%;
    background: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    width: 250px;
    transition: opacity 1s ease, visibility 1s ease, transform 1s ease;
    transform: translateX(0);
    opacity: 0;
}

.navbar.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition-delay: 0s, 0.4s, 0s;
}


.nav-links {
    list-style: none;
    gap: 30px;
    font-weight: 400;
}

.nav-links li {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 2.5em;
}

.ide-background {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 80vh;
}
#landing {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 5rem;
    color: black;
    text-align: center;
}
@keyframes slideInFromTop {
    from {
        opacity: 0;
        transform: translateY(-200%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-keyword {
    display: inline-block;
    animation: slideInFromTop 2s ease-out;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: all 1s ease;
}

.page-0 {
    background: white;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.page-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 60px;
    align-items: start;
}

.page-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 20px;
}

.who-am-i {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
}
.who-am-i p {
    font-family: 'Pixelify Sans', sans-serif;
    color: black;

}
.who-am-i img {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
}

.personal-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    width: 70%;
}

.ransom-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    gap: 15px;
    padding-top: 20px;
}

.ransom-line {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
    margin: 0;
}

.ransom-letter {
    display: inline-block;
    align-self: center;
    padding: 5px 6px;
    margin: 0 1px;
    border-radius: 4px;
}


.biography {
    text-align: justify;
    color: black;
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: 'Pixelify Sans', sans-serif;
    transition: all 1s ease;
}

h1 {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1.1;
}


.tech-stack-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
    border-radius: 20px;
    padding: 40px 40px 200px;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    background: url("gifs/guitar-kid.gif") no-repeat center;
    background-size: cover;
    transition: all 2s ease;


}

.tech-stack-title {
    color: black;
    backdrop-filter: blur(3px);
    width: 100%;
    border-radius: 15px;
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 3rem;
    margin-bottom: 10px;
}

.logos {
    backdrop-filter: blur(3px);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;
    transition: all 1s ease;
}

.logos img {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    object-fit: contain;
}
.logos img:hover {
    transform: scale(1.15);
}

@media (max-width: 1600px) {

    .content {
        flex-direction: column;
    }

    .personal-info {
        width: 100%;
    }

   .page-1, .page-2 {
        flex-direction: column;
        gap: 50px;
    }
    .page-1, .page-2 {
        width: 100%;
        height: 100%;
    }
    .tech-stack-container {
        padding-bottom: 250px;
    }

}



@media (max-width: 768px){
    .content {
        width: 100%;
    }

    body {
        margin-left: 0 !important;
        background-color:#b699ff;
        background-image:
                radial-gradient(at 39% 91%, hsla(229,91%,68%,1) 0px, transparent 50%),
                radial-gradient(at 73% 85%, hsla(76,76%,74%,1) 0px, transparent 50%),
                radial-gradient(at 23% 78%, hsla(112,67%,75%,1) 0px, transparent 50%),
                radial-gradient(at 36% 89%, hsla(105,90%,70%,1) 0px, transparent 50%),
                radial-gradient(at 32% 23%, hsla(243,81%,72%,1) 0px, transparent 50%),
                radial-gradient(at 62% 36%, hsla(165,78%,67%,1) 0px, transparent 50%),
                radial-gradient(at 12% 38%, hsla(9,62%,77%,1) 0px, transparent 50%);
    }
    .navbar-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
    }
    .navbar.show ~ .content {
        transform: translateX(250px);
        transition: transform 0.4s ease;
    }
    .navbar {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: transform 0.4s ease, opacity 0.3s ease, visibility 0.3s ease;
    }

    .navbar.show {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
    #landing {
        font-size: 2.5rem;
    }
    .page-1, .page-2 {
        flex-direction: column;
        width: 100%;
        padding: 20px;
        gap: 30px;
        height: auto;
    }
    .personal-info {
        width: 100%;
    }

    .who-am-i {
        flex-direction: column;
        align-items: center;
    }

    .who-am-i img {
        width: 90%;
        height: auto;
        max-width: 300px;
    }

    body.mobile-nav-open {
        overflow: hidden;
    }

    .nav-links li {
        font-size: 2.2em;
    }

    h1 {
        font-size: 2rem;
    }

    .biography {
        font-size: 1.5rem;
    }

    .tech-stack-title {
        font-size: 2rem;
    }

    .ransom-text {
        width: 100%;
    }
    .ransom-line {
        gap: 0;
    }
    .ransom-letter {
        font-size: 1.5rem !important;
    }

    .logos img {
        height: 80px;
        width: 80px;
    }

    .tech-stack-title{
        color: white;
    }
    .tech-stack-container {
        background: url("gifs/home-cat.gif") no-repeat right;
        background-size: cover;
        padding: 20px 20px 200px;
    }
    .content {
        transition: transform 0.4s ease;
        padding: 20px;
        gap: 20px;
    }

    .personal-info {
        gap: 25px;
        padding-bottom: 50px;
    }
}
