@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}

body {
    padding-left: 250px;
    background-color:#99b9ff;
    background-image:
            radial-gradient(at 34% 3%, hsla(245,67%,72%,1) 0px, transparent 50%),
            radial-gradient(at 23% 90%, hsla(64,60%,61%,1) 0px, transparent 50%),
            radial-gradient(at 71% 81%, hsla(150,62%,74%,1) 0px, transparent 50%),
            radial-gradient(at 4% 81%, hsla(69,96%,75%,1) 0px, transparent 50%),
            radial-gradient(at 3% 36%, hsla(61,65%,77%,1) 0px, transparent 50%),
            radial-gradient(at 5% 35%, hsla(155,66%,77%,1) 0px, transparent 50%),
            radial-gradient(at 53% 23%, hsla(138,93%,61%,1) 0px, transparent 50%);
    min-height: 100vh;
}

.navbar {
    position: fixed;
    left: 0;
    height: 100%;
    background: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    width: 250px;

}


.nav-links {
    list-style: none;
    gap: 30px;
    font-weight: 400;
}

.nav-links li {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 2.5em;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 60px;
    align-items: start;
}


.personal-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    width: 60%;
}

.ransom-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    gap: 15px;
    border-radius: 20px;
    padding: 20px;

}

.ransom-line {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
    margin: 0;
}

.ransom-letter {
    display: inline-block;
    align-self: center;
    padding: 5px 6px;
    margin: 0 1px;
    border-radius: 4px;
    font-weight: 700;
    transition: transform 0.2s ease;
}


.biography {
    text-align: justify;
    color: black;
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: 'Pixelify Sans', sans-serif;
}

h1 {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1.1;
}

.description-right {
    display: grid;
    grid-auto-rows: min-content;
    gap: 20px;
}



.tech-stack-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
    border-radius: 20px;
    padding: 40px 40px 200px;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    background: url("gifs/guitar-kid.gif") no-repeat center;
    background-size: cover;


}

.tech-stack-title {
    color: black;
    backdrop-filter: blur(3px);
    width: 100%;
    border-radius: 15px;
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 3rem;
    margin-bottom: 10px;
}

.logos {

    backdrop-filter: blur(3px);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.logos img {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    object-fit: contain;
}




@media (max-width: 1600px) {

    .content {
        flex-direction: column;
        padding: 30px;
    }
    .personal-info {
        width: 100%;
    }


}

@media (max-width: 768px) {

    .navbar {
        display: none;
    }

    body {
        padding-left: 0;
    }

    .nav-links li {
        font-size: 1.5em;
    }

    h1 {
        font-size: 2rem;
    }

    .biography {
        font-size: 1.5rem;
    }

    .tech-stack-title {
        font-size: 2rem;
    }

    .ransom-letter {
        font-size: 3rem !important;
        padding: 3px 4px;
    }

    .logos img {
        height: 80px;
        width: 80px;
    }

    .tech-stack-container {
        padding: 20px 20px 160px;
    }

    .content {
        padding: 20px;
        gap: 20px;
    }

    .personal-info {
        gap: 25px;
        padding-bottom: 50px;
    }
}
