@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}

body {
    background: darkgrey;
    min-height: 100vh;
}

.navbar {
    background: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    font-weight: 400;
}



.hero {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    padding: 80px 60px;
    flex-wrap: wrap;
}

.intro-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.intro-small {
    font-style: italic;
    font-weight: 500;
    color: orange;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

h1 {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1.1;
}

.description {
    font-size: 1.1rem;
    color: #ccc;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.btn {
    padding: 12px 24px;
    border-radius: 10px;
    background: #3a3a3a;
    border: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #505050;
}

.ransom-text {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    line-height: 1.2;
}

.ransom-letter {
    display: inline-block;
    padding: 4px 6px;
    border-radius: 4px;
    font-weight: 700;
    transition: transform 0.2s ease;
}


.certificates {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
}
.certificate {
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 20px;
    height: 200px;
    width: 250px;
    background-color: black;
    box-shadow: 0 0 25px 5px white;
}
